* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
  background-color: whitesmoke;
}

#main {
  margin: 5% 25%;
  background-color: none;
  font-family: 'Inconsolata', monospace;
}

#title-container {
  background-color: #FEC260;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 2%;
  margin-bottom: 2%;
}

#title-container #title {
  color: #2A0944;
  font-size: 5vmin;
}

#title-container #description {
  color: #A12568;
  font-size: 3vmin;
}

#survey-form {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1%;
  background-color: #FEC260;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#survey-form > * {
  border: 1px solid red;
  border: none;
  margin: 0.5vmin;
}

#survey-form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#survey-form > div > * {
  margin: 0.25vmin;
}

#survey-form input[type=radio], #survey-form input[type=checkbox] {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#survey-form input, #survey-form select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#survey-form label {
  font-weight: bold;
  color: #2A0944;
}

#age-email-container > div {
  border: 1px solid blue;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#age-email-container input {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}

#age-email-container label {
  margin-right: 5%;
}

#radio-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border: 1px solid red;
}

#textarea-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#textarea-container > * {
  margin: 1%;
}

#textarea-container textarea {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  padding: 1%;
}

#submit-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#submit {
  padding: 10%;
  background-color: #A12568;
  color: #FEC260;
  font-size: 3vmin;
  font-family: 'Inconsolata', monospace;
}

#submit:hover {
  background-color: #2A0944;
}

#submit:active {
  background-color: #FEC260;
  color: #A12568;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */