@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body{
  font-family: 'Inconsolata', monospace;
}

#navbar-container{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: maroon;
  height: auto;
}

#navbar-container ul{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type:none;
  padding-right: 1em;
}

#navbar-container ul li{
  margin: 1em 0em;
}

#navbar-container ul li a{
  text-decoration: none;
  margin-right: 2em;
  color: white;
  font-size: 1.5em;
}

main{
  margin-top: 3.5em;
}

@media (max-width: 480px){
  #navbar-container ul{
    flex-direction: column;
  }
  #navbar-container ul li{
  margin: 0.5em 0em;
  }
  #navbar-container ul li a{
    margin-right: 0;
  }
  main{
    margin-top: 7.5em;
  }
}

#welcome-section{
  height: 100vh;
  background-color: gray;
  padding: 20% 15%;
}

#welcome-section-container{
  text-align: center;
}
#welcome-section-title{
  color: maroon;
  font-size: 5em;
}
#welcome-section-subtitle{
  color: maroon;
  font-size: 2.5em;
}

#projects{
  height: auto;
  background-color: darkgray;
  padding: 15%;
}

#projects-section-container{
  text-align: center;
}

#projects-section-title{
  color: maroon;
  font-size: 2.5em;
  margin-bottom: 1em;
}

#indiv-projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-tile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 3em;
  border: 1px solid goldenrod;
  background-color: goldenrod;
  padding: 0.5em;
  margin: 1em;
  font-size: 1.5em;
}

.project-links{
  text-decoration: none;
  font-weight: bolder;
  color: maroon;
}

#profile-section{
  height: auto;
  background-color: gray;
  padding: 10% 10% 5% 10%;
}

#profile-section-container{
  text-align: center;
}

#profile-section-title{
  color: maroon;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

#profile-links-container ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile-links{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  height: 3em;
  border: 3px solid maroon;
  padding: 0.5em;
  margin: 0.5em 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  color: maroon;
  
}

#footer-container{
  text-align: right;
}


#navbar-container ul li a:hover{
  color: gold;
}

#navbar-container ul li a:active{
  font-weight: bolder;
}

#welcome-section-title:hover {
  color: goldenrod;
}

#welcome-section-subtitle:hover {
  color: goldenrod;
}

.project-tile:hover{
  background-color: gold;
  border-color: gold;
}

.project-tile:active{
  background-color: gold;
  border-color: gold;
  color: white;
}

.profile-links:hover{
  background-color: maroon;
  color: white;
}

.profile-links:active{
  color: goldenrod;
}