html{
  font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  font-family: 'STIX Two Math', serif;
  font-size: 2rem;
  line-height: 2.0;
  text-align: center;
  color: #000066;
  margin: 0;
}

#main {
  margin: 1rem 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(255,215, 0, 0.25);
}

@media (max-width: 480px) {
  #main {
    margin: 0;
    background: rgba(255, 215, 0, 0.125);
  }
}

h1 {
  font-size: 5rem;
  background-color: rgba(218,165,32);
  border-radius: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
    line-height: 1.25;
  }
}

#subtitle{
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 480px) {
  #subtitle {
    font-size: 2rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#img-div {
  padding: 1rem;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
}

#img-caption {
  margin: 1rem;
  font-size: 2rem;
  line-height:1.5;
}

@media (max-width: 480px) {
  #img-caption {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 1;
}

@media (max-width: 480px) {
  h2 {
  font-size: 2rem;
  }
}

ul {
  max-width: 75%;
  text-align: left;
  line-height: 1.5;
  margin: 0 auto 3rem auto;
  list-style-type: circle;
}

@media (max-width: 480px) {
  ul {
  font-size: 1.5rem;
  }
}

li {
  margin: 2rem 0;
}

blockquote {
  font-style: italic;
  text-align: justify;
  line-height: 1.25;
  max-width: 75%;
  margin: 0 auto 3rem auto;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}